<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="container">
  <ion-item class="logo_mappin" lines="none">
    <ion-img [src]="'assets/mappin.svg'"></ion-img>
    <ion-label>MapPin</ion-label>
  </ion-item>
  <form (ngSubmit)="loginForm()">
    <ion-item class="email">
      <ion-label position="floating" >Email</ion-label>
      <ion-input type="text" name="email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" [routerLink]>Sign In</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
