@import "src/theme/colorPalette";

.dot {
  background: $mappin-primary;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
