<ion-header>
  <ion-toolbar>
    <ion-title>Pins</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image ">
  <div *ngFor="let pin of pins">
    <app-pin [pin]="pin"></app-pin>
  </div>
  <ion-modal
    [isOpen]="true"
    [breakpoints]="[0.1, 0.5, 1]"
    [initialBreakpoint]="0.5"
  >
    <ng-template>
      <ion-content>Modal Content</ion-content>
    </ng-template>
  </ion-modal>
  <app-add-pin-btn class="position-absolute top-50 start-50 translate-middle" (click)="onClick()"></app-add-pin-btn>
</ion-content>
